@tailwind base;
@tailwind components;
@tailwind utilities;

.h-93 {
  height: 93%;
}

.w-31 {
  width: 31%;
}

.top-18 {
  top: 18px;
}

.top-152 {
  top: 152px;
}

.top-298 {
  top: 298px;
}

.top-445 {
  top: 445px;
}

.top-592 {
  top: 592px;
}

.left-95 {
  left: 95px;
}
