@tailwind base;
@tailwind components;
@tailwind utilities;

.h-93 {
  height: 93%;
}

.w-31 {
  width: 31%;
}

.top-18 {
  top: 18px;
}

.left-75 {
  left: 75px;
}

.top-bg {
  background-image: url("../public/top-bg.png");
  background-size: cover;
  background-position: center;
}

.top-minus {
  top: -223px;
}

.left-minus {
  left: -35px;
}

.border-14 {
  border-width: 14px;
}

.z-minus {
  z-index: -1;
}
